* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-size: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(233, 227, 227);
}

.logo {
  height: 5rem;
  width: 5rem;
  border-radius: 1rem;
  margin: 0.25rem 0;
}

.nav-items ul {
  display: flex;

  list-style-type: none;
  justify-content: space-between;
}

.nav-items ul li {
  padding: 0 2rem;
}

.login {
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 5rem;
}

.nav-items ul a {
  text-decoration: none;
  color: black;
}
