* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-size: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid black;
}

.logo {
  height: 5rem;
  width: 5rem;
  border-radius: 1rem;
}

.nav-items ul {
  display: flex;

  list-style-type: none;
  justify-content: space-between;
}

.nav-items ul li {
  padding: 0 2rem;
}
