* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.shimmer-container {
  width: 16vw;
  height: 32vh;
  background-color: rgb(235, 228, 228);
  margin: 2rem;
}

.outer-shimmer {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
